.main {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

.required {
    font-size: 0.8rem;
    color: firebrick;
}

.addition {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid lightgray;
}

.field {
    display: flex;
    column-gap: 0.5rem;
    padding: 0.7rem 0.2rem;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.field:hover {
    background-color: lightgrey;
}

.active:hover {
    color: mediumblue;
    cursor: pointer;
}

.field > div:first-child {
    flex: 1 1 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.field > div:nth-child(2) {
    flex: 1 1 0px;
    font-family: 'Courier New', Courier, monospace;
}

.field > div:nth-child(3) {
    flex: 5 1 0px;
}

.shift {
    margin-left: 2rem;
}

.arrow {
    position: relative;
}

.arrow::before {
    content: '>';
    position: absolute;
    left: -16px;
    transition: all 0.35s;
    color: #888888;
}

.arrow-open::before {
    transform: rotate(90deg);
    transform-origin: center center;
}

.hidden {
    display: none;
}
